.row {
  display: flex;
}
.container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.cell {
  display: flex;
  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  margin-left: 3px;
  margin-top: 3px;
  font-size: 2rem;
}
